<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style1.css' %}">
    </head>
    <body>
        <div class="container">
            <a href="/shows">Go Back</a>
            <h1>Add a New Show</h1>
            <ul id="list">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
            <form action="/shows/new" method="POST">
                {% csrf_token %}
                <p>Title</p>
                <input type="text" name="title"><br>
                <p>Network</p>
                <input type="text" name="network"><br>
                <p>Release Date</p>
                <input type="date" name="release_date"><br>
                <p>Description</p>
                <input type="text" name="description"><br>
                <button>Create</button>
            </form>
        </div>
    </body>
</html>