*{
    padding: 0px;
    margin: 0px;
}
.container{
    background-color: rgb(179, 240, 240);
    width: 800px;
    height: 500px;
    margin: auto;
    padding: 15px;
}
h1{
    margin-bottom: 30px;
    text-align: center;
}
table{
    border: 1px black solid;
    width: 700px;
    border-collapse: collapse;
    margin-bottom: 30px;
}
th, td{
    border-right: solid black 1px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #a2c8cc;
}
th{
    background-color: #4cddf0
}
#submit{
    margin: 30px;
}
